// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
    background-color: salmon;
    color:blue;
    font-size: 20px;
    text-align: center;
}